<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicQuery.Net" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Painless.Serializer.JsonNet" version="0.11.1" targetFramework="net452" />
  <package id="PainlessHttp" version="0.11.2" targetFramework="net452" />
</packages>